h1 {
  font-family: "Pacifico";
  color: aquamarine;
  text-align: center;
  background-color: black;
}

header {
  border-width: 2em;
}

/* body {
    background-color: black;
} */

h3 {
  font-family: "Pacifico";
}

::placeholder {
  color: hotpink;
  background-color:aquamarine;
}

input:focus {
    background-color: aquamarine;
    outline-color: aquamarine;
}

input {
    outline-color: aquamarine;
    color: hotpink;
    border: 0px;
}

figure {
    display: flex;
    justify-content: center;
}

#tunes {
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}